<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="thread">
      <span class="thread__node thread__node--accent" style="left:0;"></span>
      <span class="thread__node" style="left:39.9%;"></span>
      <span class="thread__node" style="left:65.3%;"></span>
    </div>
    <div class="fcols">
      <div class="fbrand">
        <a href="{{ site.baseurl }}/" aria-label="Apache StormCrawler home">
          <img src="{{ site.baseurl }}/img/logo-dark.svg" alt="Apache StormCrawler">
        </a>
        <div class="fbrand__row">
          <a class="icon-btn" href="https://github.com/apache/stormcrawler" target="_blank" rel="noopener" title="GitHub" aria-label="Apache StormCrawler on GitHub">
            <svg width="18" height="18" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8Z"/></svg>
          </a>
          <a class="icon-btn" href="https://infra.apache.org/slack.html" target="_blank" rel="noopener" title="Slack &mdash; #stormcrawler" aria-label="ASF Slack">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M5.04 15.17a2.52 2.52 0 1 1-2.52-2.53h2.52v2.53Zm1.27 0a2.52 2.52 0 0 1 5.05 0v6.31a2.52 2.52 0 1 1-5.05 0v-6.31ZM8.83 5.04a2.52 2.52 0 1 1 2.53-2.52v2.52H8.83Zm0 1.27a2.52 2.52 0 0 1 0 5.05H2.52a2.52 2.52 0 1 1 0-5.05h6.31Zm10.13 2.52a2.52 2.52 0 1 1 2.52 2.53h-2.52V8.83Zm-1.27 0a2.52 2.52 0 0 1-5.05 0V2.52a2.52 2.52 0 1 1 5.05 0v6.31Zm-2.52 10.13a2.52 2.52 0 1 1-2.53 2.52v-2.52h2.53Zm0-1.27a2.52 2.52 0 0 1 0-5.05h6.31a2.52 2.52 0 1 1 0 5.05h-6.31Z"/></svg>
          </a>
          <a class="icon-btn" href="http://stackoverflow.com/questions/tagged/stormcrawler" target="_blank" rel="noopener" title="Stack Overflow &mdash; tag stormcrawler" aria-label="Stack Overflow">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"><path d="M17.4 20.4H6.6v-5H5v6.6h14v-6.6h-1.6v5ZM8.7 14.2h6.6v1.6H8.7v-1.6Zm.2-3 6.4 1.4.3-1.6-6.4-1.3-.3 1.5Zm.9-3.5 6 2.8.6-1.4-6-2.8-.6 1.4Zm1.9-3.2 5 4.2 1-1.2-5-4.2-1 1.2Z"/></svg>
          </a>
          <a class="icon-btn" href="mailto:dev-subscribe@stormcrawler.apache.org" title="Subscribe to the dev mailing list" aria-label="Subscribe to the dev mailing list">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="5" width="18" height="14" rx="2"/><path d="m3 7 9 6 9-6"/></svg>
          </a>
          <a class="coc-pill" href="https://communityovercode.org/" target="_blank" rel="noopener"><span class="coc-dot"></span>COMMUNITY OVER CODE &#8599;</a>
        </div>
      </div>
      <div class="fcol">
        <h3>Project</h3>
        <a href="{{ site.baseurl }}/download/">Download</a>
        <a href="{{ site.baseurl }}/docs/">Documentation</a>
        <a href="{{ site.baseurl }}/docs/latest/index.html#_quick_start">Quick Start</a>
        <a href="{{ site.baseurl }}/team/">Team</a>
      </div>
      <div class="fcol">
        <h3>Community</h3>
        <a href="{{ site.baseurl }}/contribute/">Contribute</a>
        <a href="{{ site.baseurl }}/support/">Support</a>
        <a href="{{ site.baseurl }}/security/">Security</a>
        <a href="https://lists.apache.org/list.html?dev@stormcrawler.apache.org" target="_blank" rel="noopener">Mailing lists &#8599;</a>
      </div>
    </div>
    <div class="asf-band">
      <span class="asf-band__seal"><img src="{{ site.baseurl }}/img/asf-oakleaf.svg" alt=""></span>
      <div class="asf-band__copy">
        <p class="asf-band__title">The Apache Software Foundation</p>
        <p class="asf-band__sub">Apache StormCrawler is a project of the ASF, made in the open by a community of volunteers.</p>
      </div>
      <span class="asf-band__links">
        <a href="https://www.apache.org/" target="_blank" rel="noopener">APACHE.ORG &#8599;</a>
        <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank" rel="noopener">LICENSE</a>
        <a href="https://privacy.apache.org/policies/privacy-policy-public.html" target="_blank" rel="noopener">PRIVACY</a>
        <a href="https://www.apache.org/security/" target="_blank" rel="noopener">SECURITY</a>
        <a href="https://www.apache.org/foundation/sponsorship" target="_blank" rel="noopener">SPONSORSHIP</a>
        <a href="https://www.apache.org/foundation/sponsors" target="_blank" rel="noopener">SPONSORS</a>
        <a href="https://www.apache.org/events/current-event.html" target="_blank" rel="noopener">EVENTS</a>
      </span>
    </div>
    <p class="colophon">&copy; 2026 The Apache Software Foundation &middot; Licensed under the Apache License, Version 2.0<br>Apache StormCrawler, StormCrawler and the Apache logo are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners.</p>
  </div>
</footer>
